<style type="text/css" media="screen">
body {
  font-family: Helvetica;
}

table{
  width: 100%;
  border-top: 1px solid #999;
  border-left: 1px solid #999;
  border-collapse: collapse;
}
table td, table th{
  border-right: 1px solid #999;
  border-bottom: 1px solid #999;
}
table th {
  background-color: #e6e6e6;
}
table td{
  padding: 3px;
  text-align: left;
}
table td.numeric {
  text-align: right;
}
table tr.totals {
  background-color: #e6e6e6;
}
table tr.totals td {
  font-weight: bold;
}
</style>




<% @products.each do |product| %>

<h2><%= product.vendor_identifier %></h2>
<table>
  <tr>
    <th>Date</th>
    <th>Type</th>
    <th>Units</th>
    <th>Customer Price</th>
    <th>Customer Total</th>
    <th>Royalty Price</th>
    <th>Royalty Total</th>
    <th>Country</th>
  </tr>
  <% product.daily_reports.each do |report| %>
  <tr>
    <td><%= report.date_of %></td>
    <td><%= report.sale_type %></td>
    <td class="numeric"><%= report.units %></td>
    <td class="numeric"><%= report.customer_price %></td>
    <td class="numeric"><%= report.customer_subtotal_in_local_currency(LOCAL_CURRENCY) %></td>
    <td class="numeric"><%= report.royalty_price %></td>
    <td class="numeric"><%= report.royalty_subtotal_in_local_currency(LOCAL_CURRENCY) %></td>
    <td><%= report.country.country_code %></td>
  </tr>
  <% end %>
  <tr class="totals">
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td class="numeric"><%= product.daily_reports.map { |report| report.units }.sum %></td>
    <td>&nbsp;</td>
    <td class="numeric"><%= product.daily_reports.map { |report| report.customer_subtotal_in_local_currency(LOCAL_CURRENCY) }.sum %></td>
    <td>&nbsp;</td>
    <td class="numeric"><%= product.daily_reports.map { |report| report.royalty_subtotal_in_local_currency(LOCAL_CURRENCY) }.sum %></td>
    <td>&nbsp;</td>
  </table>
<% end %>

